<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h5>商品一覧(全<%= @item.count %>件)</h5>
    </div>
  </div>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_item_image(100,100) %>
        <% end %>
      <%= item.name %>
      <%= item.price %>
      </div>
    <% end %>
    <%= paginate @items %>
    </div>
  </div>
</div>
